@font-face {
    font-family: 'CSChatThai';
    src: url("../fonts/CSChatThai.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Raleway', 'CSChatThai', sans-serif;
     padding-top: 60px;
}
button {
    outline: none !important;
}

.margin-0{
    margin:0;
}
.margin-top-1{
    margin-top:1em;
}

.margin-top-2{
    margin-top:2em;
}

.margin-top-3{
    margin-top:3em;
}

.margin-top-5{
    margin-top:5em;
}

.margin-left-1{
    margin-left:1em;
}
.margin-left-2{
    margin-left:2em;
}
.margin-right-1{
    margin-right: 1em;
}

.card {
    padding: 0;
    margin: 15px;
    border: 2px solid #e7e7e7;
}

.card__template-horizon {
    min-height: 150px;
}

.card__template-vertical {
    min-height: 200px;
}


.card__create-new {

    border: 2px dashed #e7e7e7;
}

.opacity {
    opacity: .5;
}

.card > .panel-body {
    min-height: 200px;
}

.color__eee {
    color : #4BAEB6;
}
.color__white {
    color: white;
}

#aa_particles {
    z-index: -1;
    height: 100%;
    background: #2C3E50;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#4CA1AF), to(#2C3E50));
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    width: 100%;
    top: 0;
}

.wrapper {
    margin-top: 45px;
}

.clearfix {

    clear : both;
}

.middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    color: #a9a9a9;
    width: 100%;
    text-align: center;
}

.section-login {

    overflow-y:hidden;
    background: white;
    padding: 1em;
    position: absolute;
    left: 50%;
    height: 85%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-login__img {

    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 0;
    display: block;
    margin:0 auto;
}

.section-login__form {

    padding: 1.3em;
}

.section-login__form > .input-group {

    margin-bottom: 1.5em;
}

.section-login__form > button {
    margin-top:3em;
    border: 1.5px solid #4BAEB6;
    border-radius: 40px;
}
.section-login__form > button:hover {
    background-color: rgba(75, 174, 182, .1);
    border: 1.5px solid #4BAEB6;
}

.btn-light {

    border: 1.5px solid #4BAEB6;

}

.btn-main {

    background: #1CD8D2;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#93EDC7), to(#1CD8D2));
    background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
}

.btn-cancle {

    border: 1.5px solid #ea6e84;
    border-radius: 40px;
}

.btn-cancle:hover, .btn-cancle:active, .btn-cancle:visited, .btn-cancle:link {

    border: 1.5px solid #ea6e84;
    border-radius: 40px;
}

.btn-light:hover, .btn-light:active, .btn-light:visited, .btn-light:link {

    background-color: rgba(75, 174, 182, .1);
    border: 1.5px solid #4BAEB6;
    color: #4BAEB6;
}

.btn-round {
    border-radius: 40px;
}

.btn-text {

    color:#9dccd2 !important;
    cursor: pointer;
}

.btn-text:hover, .btn-text:hover, .btn-text:active, .btn-text:visited, .btn-text:link {
    
    color:#4BAEB6 !important;
    text-decoration: underline;
}

.text-bold {

    font-weight: bold;
    
}


.text-red {

     font-weight: bold;
     color: #ea6e84;
}

.text-green {

     font-weight: bold;
     color: #2ABB9B;
}

.text-title {

    color: #4BAEB6;
    font-size: 3em;    
}

.text-sub-title {
    color :#ababab;
    font-weight: bold;
    margin-top:2em;
    margin-left: 1em;

}

.text-headline {
    color :#ababab;
}

.text-headline__thai{
    font-size: 20px;
}

.animated {

    -webkit-animation-duration: 2s !important;
            animation-duration: 2s !important;
    -webkit-animation-fill-mode: both !important;
            animation-fill-mode: both !important;
}
.animated-fast {

    -webkit-animation-duration: .5s !important;
            animation-duration: .5s !important;
    -webkit-animation-fill-mode: both !important;
            animation-fill-mode: both !important;
}

.nav-style {
    background: white;
    border-bottom: #e7e7e7 solid 2px;
}


.nav-style__icon {
    
    font-size: 2.5em;
    padding-left: .5em;
}

.nav-style__title {

    font-size: 20px;
    display: inline-block;
    margin-top:20px;
    cursor: pointer;
    margin-left:2em;
}

.nav-style__title-style-bold{

    color:#4BAEB6;
    font-weight: bolder;
}

.nav-style__title-style-thin{

    color:#9dccd2;
}

.background {

    position: fixed;
    opacity: .2;
    right: 0;
    bottom: 0;
    margin:2em;
    max-width: 40%;
    z-index: -1;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {

    font-weight: bolder;
    color: #4BAEB6 !important;
    border: none;
    border-bottom: 3px solid ;
}

.tab-content {

    overflow: auto;
    max-height: 60vh;
}

/*Override Bootstrap css*/
.input-group-addon {

    color: #4BAEB6 ; 
    background: white;
}
.form-control-feedback {
    line-height: 70px;
}
.has-success .form-control , .has-success .form-control:focus {
   
    border-color: #2ABB9B;
}
.has-success .form-control-feedback {
     color: #2ABB9B;
}

/*Override Bootstrap css*/

.upload-frame {

    width:200px;
    margin: 0 auto;
}

.upload-frame > img {
    
    width: 200px;
    height: 200px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .container {
        width: 80%;
    }
    .nav-style__title{
        display: block;
        float: left;
         margin-left:0;
    }
        
    .upload-frame {

        width:130px;
    }
    .upload-frame>img{

        width:130px;
        height: 130px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 642px) { 
   
    .upload-frame>img{
        width:100px;
        height: 100px;
    }
}
@media (max-width: 512px) { 
   
    .upload-frame>img{
        width:80px;
        height: 80px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .section-login__img {

        width: 45%;
        max-height: 100%;
        text-align: center;
        padding: 0;
        display: block;
        margin:0 auto;
    }
    .section-login__form > button {
        margin-top:0em;
    }

 }
